<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Scraper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h2>Reddit Scraper</h2>
            </div>
        </div>
    </header>

    <section id="showcase">
        <div class="container">
            <h2 id="page-title">Scrape Reddit Posts</h2>
            <form onsubmit="startScraping(); return false;">
                <input type="text" id="subreddit" name="subreddit" placeholder="Subreddit (Required)" required>
                <input type="number" id="max_posts" name="max_posts" placeholder="Posts Number Limit (Optional)">
                <select id="category" name="category">
                    <option value="hot">Hot</option>
                    <option value="new">New</option>
                    <option value="top">Top</option>
                    <option value="all">All</option>
                </select>
                <input type="text" id="file_name_input" name="file_name_input" placeholder="Output File Name e.g. posts (Optional)">
                <select id="file_type_input" name="file_type_input">
                    <option value="json">JSON</option>
                    <option value="yaml">YAML</option>
                    <option value="xml">XML</option>
                </select>
                <button type="submit" id="start-scraping-button">Start Scraping</button>
            </form>
        </div>
    </section>

    <section id="main">
        <div class="container">
            <div class="progress-container" id="progress-container">
                <div class="progress-bar" id="progress-bar"></div>
            </div>
            <div class="progress-text" id="progress-text"></div>
        <div id="download-button-container" class="download-button-container" style="display:none; text-align: center;">
            <div>
                <a href="{{ url_for('download') }}" id="download-button">Download Scraped Posts</a>
            </div>
        </div>
        </div>
    </section>

    <footer>
        <p>Reddit Scraper &copy; 2024</p>
    </footer>

    <script>
        function showProgress() {
            
            let interval = setInterval(() => {
                fetch('/progress')
                .then(response => response.json())
                .then(data => {
                    const progressText = document.querySelector('.progress-text');
                    const progress = document.querySelector('.progress-bar');

                    if(data.processed_posts == 0)
                    {
                        progressText.textContent = "Setting Up";
                        progress.style.width = '0%';
                    }
                    else
                    {
                        if(data.max_posts !== "As many as available")
                        {
                            const progressContainer = document.querySelector('.progress-container');
                            progressContainer.style.display = 'block';

                            const percentage = (data.processed_posts / data.max_posts) * 100;
                            progress.style.width = percentage + '%';
                        }
                        
                        progressText.textContent = `${data.processed_posts} / ${data.max_posts} posts processed`;
                    }
                    
                    if (data.processing_done) {
                        clearInterval(interval);
                        progressText.textContent = `Processing done. ${data.processed_posts} posts processed.`;
                        document.getElementById('download-button-container').style.display = 'block';
                    }
                    
                    document.getElementById('start-scraping-button').disabled = data.processing;

                    
                })
                .catch(error => {
                    console.error('Error fetching progress:', error);
                    clearInterval(interval);
                    alert('Error fetching progress. Please try again.');
                });
            }, 2000);
        }

        function startScraping() {

            document.getElementById('download-button-container').style.display = 'none';
            
            showProgress();

            const subreddit = document.getElementById('subreddit').value;
            const maxPosts = document.getElementById('max_posts').value;
            const category = document.getElementById('category').value;
            const fileNameInput = document.getElementById('file_name_input').value;
            const fileTypeInput = document.getElementById('file_type_input').value;

            const formData = {
                subreddit: subreddit,
                max_posts: maxPosts || 0,
                category: category,
                file_name_input: fileNameInput || 'scraped_posts',
                file_type_input: fileTypeInput
            };

            fetch('/start_scraping_route', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok. Check internet connection and try again.');
                }
                return response.json();
            })
            .then(data => {
                console.log(data.message);
            })
            .catch(error => {
                console.error('Error during scraping:', error.message);
                alert('Error during scraping: ' + error.message);
            });
        }

        
    </script>
</body>
</html>
